@media only screen and (max-width: 600px) {
    .form-container {
        position: fixed;
        top: 1vmax;
        left: 10vw;
        transition: all .2s;
        height: 95vh;
        width: 80vw;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.12);
        transition: all .2s;
        transform: scale(0);
        padding-top: 1%;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 600px) {
    .form-container {
        position: fixed;
        top: 1vmax;
        left: 25vw;
        transition: all .2s;
        height: 95vh;
        width: 80vw;
        max-width: 50%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.12);
        transition: all .2s;
        transform: scale(0);
        padding-top: 1%;
        overflow-y: auto;
    }
}

.form-base {
    position: absolute;
    top: 2%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.082);
}

.form-button {
    position: relative;
    width: auto;
    height: 30px;
    background-color: red;
}

.form-button span {
    height: inherit;
    background-color: blue;
    font-size: 20px;
}

.form-title {
    margin-top: 2%;
    margin-left: 4%;
    font-size: 4vh;
}

.form-title-float {
    position: absolute;
    top: 32%;
    left: 6%;
    font-size: 4vh;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
}

.form-header {
    position: relative;
    margin: auto;
    width: 95%;
    height: 30vh;
}

.form-header-action {
    width: 100%;
    display: grid;
    grid-template-columns: auto 120px;
}

.form-title-floating {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 4vh;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.12);
}

.form-banner {
    position: absolute;
    width: 100%;
    height: 30vh;
    background-repeat: none;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    z-index: -1;
}

.form-banner.training {
    background-image: url("https://www.sane.org/images/easyblog_images/143/ebb1939a9e0878bf276d0df329a2624e_XL.jpg");
    background-size: cover;
    background-position: top;
}

.form-banner.robot {
    background-image: url("https://wallpapersite.com/images/pages/pic_w/5242.jpg");
    background-position: center;
    background-size: cover;
}

.form-banner.performance {
    background-image: url("http://www.topdesignmag.com/wp-content/uploads/2011/11/1150.jpg");
    background-position: center;
    background-size: 51vh;
}

.form-banner.config {
    background-image: url("https://image.freepik.com/free-vector/robotic-arms-with-cartoon-robot_24911-13392.jpg");
    background-position: center;
    background-size: 28vh;
}

.form-banner.question {
    background-image: url("https://www.limitlesswalls.com/wp/wp-content/uploads/2018/11/childrens-math.jpg");
    background-position: center;
    background-size: cover;
}

.form-content {
    padding: 2%;
}

.form-table {
    table-layout: fixed;
    width: 100%;
    padding: 2%;
}

.form-table thead {
    font-weight: bold;
}

.form-table td {
    height: 30px;
}

td .right {
    float: right;
}

td.padding-right {
    text-align: right;
}

.form-table td.disabled {
    color: grey;
}