.layout {
    position: relative;
    width: inherit;
    height: inherit;
    text-align: center;
    padding: 2%;
}

.card {
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 250px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    transition: all .2s;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.13);
}

.content {
    position: relative;
    text-align: center;
    pointer-events: none;
}

.title {    
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 3vh;
}

.image {
    height: 150px;
    width: auto;
}