@media only screen and (min-width: 600px) {
    .help-form {
        height: 30vh;
        width: 40%;
        position: fixed;
        top: 10vmax;
        left: 30vw;
        background: white;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.12);
        display: grid;
        grid-template-rows: 22% 2% auto 20%;
        transition: all .2s;
    }
    .help-form-title {
        font-size: 25px;
        margin-left: 16px;
        margin-top: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .help-form {
        height: 30vh;
        width: 95%;
        position: fixed;
        top: 5vmax;
        left: 10px;
        background: white;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.12);
        display: grid;
        grid-template-rows: 22% 2% auto 20%;
        transition: all .2s;
    }
    .help-form-title {
        font-size: 25px;
        margin-left: 40px;
        margin-top: 16px;
    }
}

.help-form-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.397);
    transition: all .2s;
}

.help-form-header {
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto;
    align-items: center;
    justify-items: start;
}

.help-form-icon {
    font-size: 35px;
    margin-left: 32px;
    margin-top: 16px;
}

.help-form-content {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 16px;
    font-size: 20px;
}

.help-form-action {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.help-form-divider {
    width: 90%;
}

.invisible {
    opacity: 0;
    z-index: -1;
}

.visible {
    opacity: 1;
    z-index: 1;
}