.time-question-container {}

.time-question-wrapper {
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
}

.time-question-title {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}

.time-question-options-frame {
    margin-top: 10%;
}

.time-question-option {
    width: auto;
    height: 90px;
    margin-top: 23%;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}