.robot-table {
    width: 100%;
    padding: 2%;
}

.robot-table thead {
    font-weight: bold;
}

.robot-table td {
    height: 30px;
}

td.right {
    float: right;
}

.robot-table td.disabled {
    color: grey;
}