* {
    font-family: 'KoHo', sans-serif;
    user-select: none;
}

body {
    background-color: rgba(214, 213, 213, 0.137);
}

.scaleIn {
    animation: scaleIn .2s ease forwards;
}

.scaleOut {
    animation: scaleOut .2s ease forwards;
}

.slideUp {
    animation: slideUp .2s ease forwards;
}

.shake {
    animation: shake .5s ease forwards;
}

@keyframes scaleIn {
    from {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        display: none;
    }
    to {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        display: inline;
    }
}

@keyframes scaleOut {
    from {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        display: inline;
    }
    to {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        display: none;
    }
}

@keyframes slideUp {
    from {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}