.clock-num-12 {
    position: absolute;
    top: 15px;
    left: 98px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-6 {
    position: absolute;
    top: 185px;
    left: 105px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-7 {
    position: absolute;
    top: 175px;
    left: 65px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-3 {
    position: absolute;
    top: 100px;
    left: 185px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-9 {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-2 {
    position: absolute;
    top: 56px;
    left: 172px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-1 {
    position: absolute;
    top: 28px;
    left: 147px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-5 {
    position: absolute;
    top: 174px;
    left: 147px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-11 {
    position: absolute;
    top: 30px;
    left: 55px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-10 {
    position: absolute;
    top: 60px;
    left: 30px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-8 {
    position: absolute;
    top: 146px;
    left: 35px;
    font-size: 20px;
    font-weight: 700;
}

.clock-num-4 {
    position: absolute;
    top: 144px;
    left: 172px;
    font-size: 20px;
    font-weight: 700;
}

.clock-minute {
    position: absolute;
    width: 10px;
    height: 90px;
    background: blue;
    border-radius: 20px;
    top: 25px;
    left: 105px;
    /* transform: rotate(0deg); */
    transform-origin: 50% 95%;
    transition: all 1s;
}

.clock-hour {
    position: absolute;
    width: 10px;
    height: 70px;
    background: red;
    border-radius: 20px;
    top: 45px;
    left: 105px;
    /* transform: rotate(180deg); */
    transform-origin: 50% 95%;
    transition: all 1s;
}

.clock-second {
    position: absolute;
    width: 5px;
    height: 100px;
    background: yellow;
    border-radius: 20px;
    top: 15px;
    left: 107px;
    /* transform: rotate(90deg); */
    transform-origin: 50% 95%;
    transition: all 1s;
}

.clock-base {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.clock-frame {
    background: rgb(240, 240, 240);
    border: 10px solid black;
    width: inherit;
    height: inherit;
    border-radius: 400px;
}

.clock-center {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 20px;
    top: 105px;
    left: 105px;
    z-index: 10;
}