.paging-container {
    width: 80%;
    height: 8vh;
    margin: 5% auto;
}

.paging-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12);
    transition: all .2s;
}

.paging-button:hover {
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.12);
}

.paging-button span {
    font-size: 50px;
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}