.base {
    background-image: url("https://wallpapersite.com/images/pages/pic_w/9455.jpg");
    background-position: center top;
    background-size: cover;    
    width: 100%;
    height: 30vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
}

.grid {
    widows: 100%;    
    height: 70vh;
    margin-top: 2vh;    
}

.appTitle {
    position: absolute;
    top: 23vh;
    left: 2%;
    font-size: 6vh;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
    color: white;
}

.appTimer {
    position: absolute;
    right: 28vw;
    top: 3%;
    color: white;
}

.appExit {
    position: absolute;
    right: 3%;
    top: 3%;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.app-container {
    position: relative;
}