.question-container {}

.question-title {
    margin-top: 5%;
    text-align: center;
    font-size: 60px;
}

.question-options-frame {
    margin-top: 25%;
}

.question-option {
    width: 90px;
    height: 90px;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}