.training-table {
    width: 100%;
    margin: 2%;
}

.training-card-icon {
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

.easy {
    color: rgb(68, 139, 68);
}

.hard {
    color: rgb(223, 70, 70);
}

.training-question-form {
    position: absolute;
    width: 95%;
    height: 95vh;
    top: 0;
    left: 0;
}

.training-question-slot {
    display: inline-block;
    width: 50px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.form-content-subtitle {
    font-size: 25px;
    font-weight: 900;
    margin: 5px 0px 10px 5px;
}