.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapersite.com/images/pages/pic_w/9455.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.login-form {
    position: relative;
    top: 20%;
    margin: auto;
    width: 70%;
    max-width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.12);
}

.login-form-banner {
    background-image: url("https://wallpapersite.com/images/pages/pic_w/9455.jpg");
    width: 100%;
    height: 158px;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
}

.login-form-controls {
    position: absolute;
    top: 10%;
    width: 100%;
}

.login-control {
    appearance: none;
    border: 1px solid grey;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: 20px;
    border-color: rgb(9, 40, 108);
    padding: 2%;
    transition: all .2s;
    outline: none;
}

.login-form-controls-container {
    height: 242px;
    position: relative;
}

.login-control-button {
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 40px;
    font-size: 20px;
    width: 90%;
    outline: none;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    left: 5%;
    bottom: 5%;
    background-color: white;
    border: 1px solid grey;
    outline: none;
}

.login-form-banner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.login-title {
    position: absolute;
    bottom: 4%;
    left: 4%;
    font-size: 30px;
    color: white;
}